.rich-editor .options {

  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .undo-redo,
  .draftJsEmojiPlugin__emojiSelect__34S1B,
  .addEmbedded,
  .addImage,
  .addVideo {

    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;

    & > button {
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #ddd;
      padding: 0;
      color: #888;
      margin: 0;
      border-radius: 1.5em;
      cursor: pointer;
      height: 1.5em;
      width: 2.5em;
      font-size: 1.5em;
      line-height: 1.2em;

      &:focus {
        outline: 0; /* reset for :focus */
      }

      &:hover {
        background: #f3f3f3;
      }

      &:active {
        background: #e6e6e6;
      }

      img {
        height: 60%;
        margin-bottom: 4px;
      }
    }
  }

  .addEmbeddedPopover,
  .addImagePopover,
  .addVideoPopover,
  .draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
    transform: translate(70px, -45px);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    //box-shadow: 0 4px 30px 0 rgba(220, 220, 220, 1);
  }


  .addEmbeddedPopover,
  .addImagePopover,
  .addVideoPopover {

    margin-top: 10px;
    background: #FFF;
    position: absolute;
    max-width: 300px;
    border-radius: 2px;
    padding: 10px;
    z-index: 1000;

    input {
      display: inline;
    }
  }

  .addImagePopover {
    @import "~react-dropzone-uploader/dist/styles";

    .dzu-dropzone {
      overflow: hidden;
    }

  }



  .addEmbeddedClosedPopover,
  .addImageClosedPopover,
  .addVideoClosedPopover {
    display: none;
  }


  .addEmbeddedPressedButton,
  .addImagePressedButton,
  .addVideoPressedButton {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0;
    color: #888;
    margin: 0;
    border-radius: 1.5em;
    cursor: pointer;
    height: 1.5em;
    width: 2.5em;
    font-size: 1.5em;
    line-height: 1.2em;
    background: #ededed;
  }

  .addEmbeddedBottomGradient,
  .addImageBottomGradient,
  .addVideoBottomGradient {
    width: 100%;
    height: 1em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  .addEmbeddedInput,
  .addImageInput,
  .addVideoInput {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 4px;
    margin: 0;
    width: 78%;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
  }


  .addEmbeddedConfirmButton,
  .addImageConfirmButton,
  .addVideoConfirmButton {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    color: #888;
    margin: 0 0 0 4%;
    border-radius: 2.1em;
    cursor: pointer;
    height: 2.1em;
    width: 18%;
    font-size: 1em;
    line-height: 2.1em;

    &:focus {
      outline: 0; /* reset for :focus */
    }

    &:hover {
      background: #f3f3f3;
    }

    &:active {
      background: #e6e6e6;
    }
  }

  .hr {
    display: block;
    text-align: center;

    &::before,
    &::after {
      content: "  -  ";
    }
  }


  .addEmbedded {
    @import "./EmbeddedAdd/searchObjectStyles";
  }

}